.PdfContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    overflow: auto;
    position: relative;
}

.PdfContainer::-webkit-scrollbar-track {
    background: white;
}

.ModalContainer {
    position: relative;
    height: calc(90vh); //842px;
    max-height: 900px;
    min-width: 700px;
    overflow: hidden;
}

.page-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}

